<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script> -->

<% if @client.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@client.errors.count, "error") %> prohibited this user from being saved:</h2>
          <ul>
            <% @client.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>


<div class="client_form">
	<button id="one" class="btn btn-primary">New Client</button>
</div>

<div class="close_client">
	<button id="two" class="btn btn-primary">Hide</button>
</div>

<!-- <div class="customer_form">
<button id="three" class="btn btn-primary">New Customer</button>
</div>

<div class="close_customer">
	<button id="four" class="btn btn-primary">Hide</button>
</div>
 -->

<div class="container">
	<div class="row">
	<%= form_for @client do |c| %>
		<div class="control-flow">
			
            <div class="col-md-4">
				<label for="project">Client Name</label>
			</div>
			
			<div class="col-md-8">
				<%= c.text_field :client_name %>
			</div>


			<div class="col-md-4">
				<label for="project">Project Name</label>
			</div>
			
			<div class="col-md-8">
				<%= c.text_field :project_name %>
			</div>
		
			<div class="col-md-4">
				<label for="description">Description</label>
			</div>

			<div class="col-md-8">
				<%= c.text_area :description %>
			</div>

			<div class="col-md-4">
				<label for="day">Days Allocated</label>
			</div>

			<div class="col-md-8">
				<%= c.text_field :time %>
			</div>

			<div class="col-md-4">
				<label for="project">Set Rate</label>
			</div>
			
			<div class="col-md-8">
				<%= c.text_field :set_rate %>
			</div>

			<div class="col-md-4">
				<label for="project">Team Members</label>
			</div>
			
			<div class="col-md-8">
				<%= c.text_field :team_member %>
			</div>


			<div class="label_field_pair">
        	<label class="label_for_employee_gender" for="master_student_gender">Status</label>
        	<div class="employee_gender_value">
          	<label class="label_for_status" for="add_grade_status_true">Active</label>
          	<%= c.radio_button  "status", "true", :checked => "checked" %>

          	<label class="label_for_status" for="add_grade_status_false">Inactive</label>
          	<%= c.radio_button  "status", "false" %>
        	</div>
      		</div>

      		<div class="btn btn-primary">
      			<%= c.submit "create Project"%>
      		</div>

		</div>
		<% end %>
	</div>
</div>

<%= link_to '<button type="button">Go Back for creating Company</button>'.html_safe, root_path%>




<script>
$(document).ready(function(){
    $("#two").click(function(){
        $(".container").hide();
    });
    $("#one").click(function(){
        $(".container").show();
    });
});

</script>
